.filter-container {
    display: flex;
    flex-direction: column;
}

.filter-container__item{
    display: flex;
    justify-content: start
}

.filter-input{
    margin-left: 20px;
}

.dropdown-block{
    padding: 5px 10px;
    position: relative;
}
  
.filter-container__dropdown-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:5px;
    left:55px
}